html, body, #map{
  height: 100%;
  margin: 0;
  background-color: rgb(112, 112, 112);
  background-image: url("imgs/img-4.jpg");
  /* background-image: url("imgs/bg/img-0.jpg"); */
  background-position: right 2rem bottom 2rem;
  /* background-size: cover; */
  background-repeat: no-repeat;
}

#text{
  z-index: 999 !important;
  position: fixed;
  width: 656px;
  top:2rem;
  right:2rem;

  font-family: 'helvetica neue', sans-serif;
  font-size: 1.2rem;
  color: white;
}

#text p{
  margin: 1rem;
  line-height: 1.25rem;
}
#text h1, #text h2, #text h3{
  margin: 1rem;
  font-weight: normal;
}
